<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feirui.feiyunbangong"
    android:versionCode="94"
    android:versionName="1.7.24">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.feirui.feiyunbangong.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.feirui.feiyunbangong.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--  -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 云测权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 云测权限：如果想获得更丰富的位置相关服务，请在manifest文件中添加权限 ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".Happlication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme,android:icon">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 防止软键盘将布局弹出 -->
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.GuideActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.RegisteActivity" />
        <activity android:name=".activity.RegisteSOLOActivity" />
        <activity android:name=".activity.RegisteFIRMActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.ClockInActivity" />
        <activity android:name=".activity.StatementActivity" />
        <activity android:name=".activity.ProjectActivity" />
        <activity android:name=".activity.ExamineActivity" />
        <activity android:name=".activity.CustomerActivity" />
        <activity android:name=".activity.DataActivity" />
        <activity android:name=".activity.DaiShenPiActivity" />
        <activity android:name=".activity.Statement1Activity" />
        <activity android:name=".activity.Statement2Activity" />
        <activity android:name=".activity.Statement3Activity" />
        <activity android:name=".activity.Statement4Activity" />
        <activity android:name=".activity.ProjectAddActivity" />
        <activity android:name=".activity.FeedbackDetailsActivity" />
        <activity android:name=".activity.FeedbackAddActivity" />
        <activity android:name=".activity.ClientAddActivity" />
        <activity android:name=".activity.BaifangKehuActivity" />
        <activity android:name=".activity.QiTaActivity" />
        <activity android:name=".activity.QingJiaActivity" />
        <activity android:name=".activity.BaoXiaoActivity" />
        <activity android:name=".activity.WaiChuActivity" />
        <activity android:name=".activity.FuKuanActivity" />
        <!-- <activity android:name=".activity.CaoZuoJiLuActivity"> -->
        <!-- </activity> -->
        <activity android:name=".activity.TiXianActivity" />
        <activity
            android:name=".activity.ClockInDataActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CaiGouActivity"
            android:label="@string/title_activity_cai_gou" />
        <activity android:name=".activity.ShenPiRenActivity" />
        <activity
            android:name=".activity.AddFriendActivity"
            android:label="@string/title_activity_add_friend" />
        <activity
            android:name=".activity.DetailLianXiRenActivity"
            android:label="@string/title_activity_detail_lian_xi_ren" />
        <activity
            android:name=".activity.DataStatement1Activity"
            android:theme="@style/StyledIndicators" />
        <activity android:name=".activity.DataStatement2Activity" />
        <activity android:name=".activity.DataStatement3Activity" />
        <activity android:name=".activity.DataStatement4Activity" />
        <activity android:name=".activity.DataDetailsActivity" />
        <activity android:name=".activity.ImagePagerActivity" />
        <activity android:name=".activity.TuanDuiJiaActivity" />
        <activity android:name=".activity.YaoQingActivity" />
        <activity android:name=".activity.FenZuGuanLiActivity" />
        <activity android:name=".activity.HaoYouZiLiaoActivity" />

        <!-- 百度地图的appkey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vCTbCeapcOaqoaFaNGx23ekpAQ0xfwLK" />
        <!-- 百度地图的后台服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.feirui.feiyunbangong" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.feirui.feiyunbangong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.feirui.feiyunbangong" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.feirui.feiyunbangong" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".fragment.Fragment4$MyBroadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.feirui.feiyunbangong.getteam" />
                <action android:name="com.feirui.feiyunbangong.onadd.team.member" />
                <action android:name="com.feirui.feiyunbangong.onadd.team" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="3f2df3e9e2810677bce669dc" />

        <!-- 设置Testin AppKey -->
        <meta-data
            android:name="PROJECT_KEY"
            android:value="04761aa154c3716acf62cb61c978c65f" />
        <!-- 设置渠道信息 -->
        <meta-data
            android:name="CHANNEL"
            android:value="360yidongkaifa" />

        <!-- <activity -->
        <!-- android:name=".activity.ShenQingFenZuActivity" -->
        <!-- android:label="@string/title_activity_shen_qing_fen_zu"> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".activity.DialogFenLeiActivity" -->
        <!-- android:label="@string/title_activity_dialog_fen_lei"> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.NewFriendActivity"
            android:label="@string/title_activity_new_friend" />
        <activity
            android:name=".activity.AboutFriendActivity"
            android:label="@string/title_activity_about_friend" />
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.DetailPersonActivity"
            android:label="@string/title_activity_detail_person" />
        <activity
            android:name=".activity.AddYuanGongActivity"
            android:label="@string/title_activity_add_yuan_gong" />
        <activity
            android:name=".activity.YiJianActivity"
            android:label="@string/title_activity_yi_jian" />
        <!-- <activity -->
        <!-- android:name=".activity.WoDeTuanDuiActivity" -->
        <!-- android:label="@string/title_activity_chuang_jian"> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.GuanLiTuanDuiActivity"
            android:label="@string/title_activity_guan_li_tuan_dui" />
        <activity
            android:name=".activity.SetGuanLIYuanActivity"
            android:label="@string/title_activity_set_guan_liyuan" />
        <activity
            android:name=".activity.TuanDui_DetailActivity"
            android:label="@string/title_activity_detail_tuan_dui"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.DetailChengYuanActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_detail_cheng_yuan" />
        <activity
            android:name=".activity.ChuangJianTuanDuiActivity"
            android:label="@string/title_activity_chuang_jian_tuan_dui" />
        <activity
            android:name=".activity.JiaRuTuanDuiActivity"
            android:label="@string/title_activity_jia_ru_tuan_dui" />
        <activity
            android:name=".activity.AddChengYuanActivity"
            android:label="@string/title_activity_add_cheng_yuan" />
        <activity
            android:name=".activity.XiuGaiChengYuanActivity"
            android:label="@string/title_activity_xiu_gai_cheng_yuan" />
        <activity
            android:name=".activity.TuanDuiGuanLiActivity"
            android:label="@string/title_activity_tuan_dui_guan_li" />
        <activity
            android:name=".activity.SouSuoTuanDuiActivity"
            android:label="@string/title_activity_sou_suo_tuan_dui" />
        <activity
            android:name=".activity.DetailGongGaoActivity"
            android:label="@string/title_activity_detail_gong_gao" />
        <activity
            android:name=".activity.AddGongGaoActivity"
            android:label="@string/title_activity_add_gong_gao" />
        <!-- <activity -->
        <!-- android:name=".AddWorkActivity" -->
        <!-- android:label="@string/title_activity_add_work"> -->
        <!-- </activity> -->
        <activity
            android:name="com.example.testpic.TestPicActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.example.testpic.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.example.testpic.PublishedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.example.testpic.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.WorkCircleActivity"
            android:label="@string/title_activity_work_circle" />
        <!-- <activity -->
        <!-- android:name=".activity.SendMsgActivity" -->
        <!-- android:label="@string/title_activity_send_msg"> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.DetailMapActivity"
            android:label="@string/title_activity_detail_map" />
        <activity
            android:name=".activity.NoticeReadUnReadActivity"
            android:label="@string/title_activity_notice_read_un_read" />
        <!-- <activity -->
        <!-- android:name=".activity.MainSlidingMenuActivity" -->
        <!-- android:label="@string/title_activity_main_sliding_menu"> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.WifiClockActivity"
            android:label="@string/title_activity_wifi_clock" />
        <activity
            android:name=".AddShopActivity"
            android:label="@string/title_activity_add_shop" />
        <activity
            android:name=".activity.MyShopActivity"
            android:label="@string/title_activity_my_shop" />
        <activity android:name=".activity.ShenPiQingJaDetailActivity" />
        <activity android:name=".activity.AddGoodActivity" />
        <activity android:name=".activity.ShenpiBaoxiaoDetailActivity" />
        <activity android:name=".activity.GoodDetailActivity" />
        <activity android:name=".activity.FriendShop" />
        <activity android:name=".activity.TasksListActivity" />
        <activity
            android:name=".activity.ReadFormActivity"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".activity.ReleaseTask"
            android:label="@string/title_activity_release_task" />
        <activity
            android:name=".activity.TaskInfoActivity"
            android:label="@string/title_activity_task_info" />
        <activity
            android:name=".activity.SelectorTeamActivity"
            android:label="@string/title_activity_selector_team" />
        <activity
            android:name=".activity.WoDeTaskActivity"
            android:label="@string/title_activity_wo_de_task" />
        <activity android:name=".activity.CheckBaobiaoActivity" />

        <!-- 所有群聊的 -->
        <activity android:name=".activity.tribe.EditTribeInfoActivity" />
        <activity android:name=".activity.tribe.TribeInfoActivity" />
        <activity android:name=".activity.tribe.TribeMembersActivity" />
        <activity android:name=".activity.tribe.InviteTribeMemberActivity" />
        <activity android:name=".activity.tribe.SetTribeCheckModeActivity" />
        <activity android:name=".activity.tribe.TribeMsgRecTypeSetActivity" />
        <activity android:name=".activity.tribe.EditMyTribeProfileActivity" />
        <activity
            android:name=".activity.tribe.EditGroupInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.tribe.TribeActivity" />
        <activity android:name=".activity.tribe.SearchTribeActivity" />

        <!-- 查看待审批页面 -->
        <activity android:name=".activity.ShenPiWaiChuDetailActivity" />
        <activity android:name=".activity.ShenPiFuKuanDetailActivity" />
        <activity android:name=".activity.ShenPiCaiGouDetailActivity" />
        <activity android:name=".activity.ShenPiQiTaDetailActivity" />
        <activity android:name=".activity.RenWuDanActivity" />

        <!-- 操作记录 -->
        <activity android:name=".activity.CaoZuoJiLuActivity" />
        <activity android:name=".activity.MyShenPiQingJaDetailActivity" />
        <activity android:name=".activity.MyShenPiBaoXiaoDetailActivity" />
        <activity android:name=".activity.MyWaiChuDetailActivity" />
        <activity android:name=".activity.MyFuKuanDetailActivity" />
        <activity android:name=".activity.MyCaiGouDetailActivity" />
        <activity android:name=".activity.MyQiTaDetailActivity" />
        <activity android:name=".activity.RenWuListActivity" />
        <activity android:name=".activity.ReleaseDetailActivity" />
        <!-- <activity -->
        <!-- android:name=".activity.RenWuDetailActivity" -->
        <!-- android:label="@string/title_activity_ren_wu_detail" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <activity android:name=".activity.WebViewActivity" />
        <!-- 个人小店 -->
        <activity android:name=".activity.AddShopActivity" />
        <activity
            android:name=".activity.Release_FanKuiActivity"
            android:label="@string/title_activity_release__fan_kui"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".receiver.KeepLiveReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.ReleaseDetail_FanKuiActivity" />
        <activity android:name=".activity.SheZhiActivity" />
        <activity android:name=".activity.MyTaskDetailActivity" />

        <!-- 新的anctivity -->
        <activity android:name=".activity.PersonDataActivity" />
        <activity android:name=".activity.SearchFriendsActivity" />
        <activity android:name=".activity.MyReleaseTaskActivity" />
        <activity android:name=".activity.MyTaskActivity" />
        <activity android:name=".activity.MoreFriendsActivity" />
        <activity android:name=".activity.RevisePersonActivity" />
        <activity android:name=".activity.FriendInforDetailActivity" />
        <!-- 支付宝声明页面 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.TeamPersonActivity" />
        <activity android:name=".activity.ZhiFuActivity"></activity>
        <activity android:name=".activity.AboutUsActivity"></activity>
        <activity android:name=".activity.BaiDuPoi.PoiSearchActivity"/>
        <activity android:name=".activity.MyCaoZuoActivity"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx061139fe146e41ae"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChooseFriendActivity"></activity>
        <activity android:name=".activity.ChaKanJinDuActivity"></activity>
    </application>

</manifest>